/* - - - - - - - - - - - - - - - - - - - - -

 Title : Payment Solutions Web Form Custom Style
 
 Last Updated : 2014-07-31

- - - - - - - - - - - - - - - - - - - - - */

/*Disable Form Title*/
.wufoo .info{display:none}

/*Submit Button Text*/
.wufoo input.btTxt{
height: 50px;
width: 160px;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
-o-border-radius: 10px;
background: #00B0F0;
color: #fff;
font-size: 18px;
text-align: center;
border: none;
}

/*Submit Button Text Hover*/
.wufoo input.btTxt:hover{
background: #004386;
color: #fff; 
}
